<!DOCTYPE html>
<html lang="en" ng-app='bookClub'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-XYCjB+hFAjSbgf9yKUgbysEjaVLOXhCgATTEBpCqT1R3jvG5LGRAK5ZIyRbH5vpX" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Gentium+Book+Basic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css" charset="utf-8">

  <link rel="stylesheet" href="css/animate.css" charset="utf-8">
  <script src="scripts/app.js" charset="utf-8"></script>
  <title>The Illiterati of Denver</title>
</head>

<body  ng-cloak scroll id="page" ng-class="{min:boolChangeClass}" ng-controller='MainController'>

  <header class='jumbotron masthead'>
    <div class='container'>
      <h1>The Illiterati of Denver</h1>
      <hr>
      <h2>- Est. 2014 -</h2>
    </div>
  </header>

  <main>

    <div class="modal fade" tabindex="-1" id="signUp"role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Join Our Merry Band!</h3>
          </div>
          <div class="modal-body text-center">
            <p>The only thing you have to do to be a part of our book club is show up! You don't even have to read the book! Heck, you don't even have to show up, come to think of it. Just <em>believe</em> you are a member, and you are.</p>

            <p>If you are interested in actually reading books and attending our monthly meetings, the best way to stay of abreast of all our goings-on is to subscribe to our weekly(ish) newsletter.</p>

            <a class="btn btn-success" href="https://tinyletter.com/denverilliterati" role="button">Sign Up!</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

     <div class="container"> <!-- Content -->

      <nav class="row">
        <div class="col-xs-10 col-sm-11 col-md-10 col-lg-8 col-xs-offset-1 col-md-offset-1 col-lg-offset-2">
          <ul class="nav nav-pills nav-justified">
            <li ng-class="{'active': vm.aboutShow}"><a href="#/" ng-click="showAboutButton()">About</a></li>
            <li ng-class="{'active': vm.currentBookShow}"><a href="#/" ng-click="showCurrentBookButton()">Current Book</a></li>
            <li ng-class="{'active': vm.nextMeetingShow}"><a href="#/" ng-click="showNextMeetingButton()">Next Meeting</a></li>
            <li ><a href="#/" id="sign-up" data-toggle="modal" data-target="#signUp">Join Us</a></li>
          </ul>
        </div>
      </nav>

      <div class="switch-container" ng-switch on="vm.selection">

        <div class="row about" ng-switch-default>
          <div class="col-xs-10 col-md-8 col-md-offset-2 col-xs-offset-1">
            <h3>About Us</h3>
            <p class="lead"><strong>The Illiterati of Denver</strong> is a social book club for awesome people.  We meet monthly to discuss our current book, reveal our next book selection, and generally hang out and be awesome.</p>

            <p>Currently, meetings are the first Monday of the month and typically take place in-or-around Denver's Highlands neighborhood, either at comfy businesses or at our members' homes.  We rotate which member picks the next book, and have read across many genres of fiction and non-fiction.</p>

            <p>Joining is easy. Just show up. That's it. If you've read <strong>the</strong> book, or read <em>a</em> book, even better!</p>

            <p>To stay informed as to what we are reading, and when and where our meetings are, <a href="https://tinyletter.com/denverilliterati" target="_blank">subscribe to our newsletter</a>!</p>
          </div>
        </div>

        <div class="row current-book" ng-switch-when="currentBook">
          <div class="col-xs-10 col-md-8 col-md-offset-2 col-xs-offset-1">
            <h2>Current Selection</h2>
            <div class="col-xs-12 col-md-3">
              <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/f/f9/Seveneves_Book_Cover.jpg" alt="Seveneves">
            </div>
            <div class="col-md-8">
              <h3>Seveneves</h3>
              <h4>by Neal Stephenson</h4>
              <a class="btn btn-success" href="https://www.amazon.com/Seveneves-Neal-Stephenson/dp/0062334514/ref=sr_1_1?ie=UTF8&qid=1478725617&sr=8-1&keywords=seveneves" target="_blank">Purchase from Amazon</a>
              <a class="btn btn-default" href="https://catalog.denverlibrary.org/search/searchresults.aspx?ctx=1.1033.0.0.6&type=Default&term=seveneves&by=KW&sort=RELEVANCE&limit=TOM=*&query=&page=0&searchid=1" target="_blank">Search Denver Public Library</a>
            </div>

            <div class="col-md-12">
              <h4>Summary:</h4>
              <p>A catastrophic event renders the earth a ticking time bomb. In a feverish race against the inevitable, nations around the globe band together to devise an ambitious plan to ensure the survival of humanity far beyond our atmosphere, in outer space.</p>

              <p>But the complexities and unpredictability of human nature coupled with unforeseen challenges and dangers threaten the intrepid pioneers, until only a handful of survivors remain...</p>

              <p>Five thousand years later, their progeny—seven distinct races now three billion strong—embark on yet another audacious journey into the unknown... to an alien world utterly transformed by cataclysm and time: Earth.</p>
            </div>
          </div>
        </div>

        <div class="row next-meeting" ng-switch-when="nextMeeting">
          <div class="col-xs-10 col-md-8 col-md-offset-2 col-xs-offset-1">
            <h2>Next Meeting</h2>
            <h3>Monday, December 5th, 2016</h3>
            <h4>Time: 7:00pm</h4>
            <h4>Location: TBD</h4>

            <a class="btn btn-success" href="https://www.google.com/maps/place/BookBar/@39.7751573,-105.0438839,15z/data=!4m5!3m4!1s0x0:0xca66932a7463491!8m2!3d39.7751573!4d-105.0438839" target="_blank">Get Directions</a>

            <!-- <div class="alert alert-dismissible alert-danger" ng-show="vm.warning">
              <button type="button" class="close" ng-click="closeWarning()">&times;</button>
              Our meetings are occasionally at one of member's homes. When that happens, we don't publish their address directly on our site. To get directions to this, and all upcoming meeings, please <a href="https://tinyletter.com/denverilliterati" target="_blank" class="alert-link">sign up for our newsletter</a>!
            </div> -->

            <p>Join us as we discuss Neal Stephenson's <em>Seveneves</em>.</p>


          </div>
        </div>

      </div>

    </div> <!-- Close Content -->

    <footer class="footer">
      <div class="container-fluid text-center">
        <h4><a href="#">Back To Top</a></h4>
        <p>&copy; The Illiterati of Denver 2016 | Site by <a href="https://jlincolndennis.com" target="_blank">J Lincoln Dennis</a></p>
      </div>
    </footer>

  </main>

</body>
</html>
