.ng-enter {
  animation: fadeIn .5s;
}

.min header {
  transition: .6s linear all;

  h1, hr, h2 {
    transition: .6s linear all;
  }
}

header {
  transition: .6s linear all;
  h1, hr, h2 {
    transition: .6s linear all;
  }
}
