#sign-up:focus {
  background-color: white;
  outline: none;
}

.nav li .active{
  background: white;
}

.nav-pills>li.active>a,.nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background: rgba(43,62,82,1);
}
