.masthead {
  h1, h2 {
    font-family: 'Gentium Book Basic', serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  }
}

.nav {
  li {
  font-family: 'Gentium Book Basic', serif;
  font-size: 1.4em;
  }
}

h3 {
  color: rgb(0, 189, 156);
}

// p {
//   font-size: 1.2em;
// }



footer p {
  font-size: .9em;
}
